In [1]:
import pandas as pd
import numpy as np

In [2]:

#loading sas files into dataframe
blood_and_cholestrol=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/bloodandcholestrol/BPQ_J.XPT')
blood_pressure=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/bloodpressure/BPX_J.XPT')
current_health_status=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/currenthealthstatus/HSQ_J.XPT')
demographics=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/demographics/DEMO_J.XPT')
diabetes=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/diabetes/DIQ_J.XPT')
dietaryinterview_day_one=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/dietaryInterview/DR1IFF_J.XPT')
dietaryinterview_day_two=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/dietaryInterview/DR2IFF_J.XPT')
disability=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/disability/DLQ_J.XPT')
druguse=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/druguse/DUQ_J.XPT')
healthinsurance=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/healthinsurance/HIQ_J.XPT')
hepatitis=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/hepatitis/HEQ_J.XPT')
hospital_utilization_and_access_to_care=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/hospitalutilizationandaccesstocare/HUQ_J.XPT')
mentalhealthdepressionscreener=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/mentalhealthdepressionscreener/DPQ_J.XPT')
oppucation=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/oppucation/OCQ_J.XPT')
oralhealth=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/oralhealth/OHQ_J.XPT')
oralhealth_dentations=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/oralhealthdentations/OHXDEN_J.XPT')
#outcome oralhealthreccomenation
oralhealth_reccomendation=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/oralhealthreccomendation/OHXREF_J.XPT')
###########################################################
physical_activity =pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/physicalactivity/PAQ_J.XPT')
smoking_cigarette_use=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/smokingcigaretteuse/SMQ_J.XPT')
smoking_household_smokers=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/smokinghouseholdsmokers/SMQFAM_J.XPT')
smoking_recent_tobacco_use=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/smokingrecenttobaccouse/SMQRTU_J.XPT')
smoking_secondhand_smoking_exposure=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/smokingsecondhandsmokingexposure/SMQSHS_J.XPT')
weight_history=pd.read_sas('/home/chuylife10/dentalrecommender/dentalvaribles/weighthistory/WHQ_J.XPT')

test = pd.read_csv('/home/chuylife10/dentalrecommender/dentalvaribles/data.csv')


dataframes= [blood_and_cholestrol,blood_pressure,current_health_status,demographics,diabetes,dietaryinterview_day_one,
            dietaryinterview_day_two,disability,druguse,healthinsurance,hepatitis,hospital_utilization_and_access_to_care,
            mentalhealthdepressionscreener,oppucation,oralhealth,oralhealth_reccomendation,physical_activity,
            smoking_household_smokers,smoking_recent_tobacco_use,smoking_secondhand_smoking_exposure,weight_history]

In [3]:
# Data that is dirty that doesn't allow us to try the model 
oralhealth_dentations=oralhealth_dentations.fillna(-1)
oralhealth_dentations.head()

,SEQN,OHDEXSTS,OHDDESTS,OHXIMP,OHX01TC,OHX02TC,OHX03TC,OHX04TC,OHX05TC,OHX06TC,...,OHX14SE,OHX15SE,OHX18SE,OHX19SE,OHX20SE,OHX21SE,OHX28SE,OHX29SE,OHX30SE,OHX31SE
0,93703.0,1.0,1.0,-1.0,4.0,4.0,4.0,1.0,1.0,1.0,...,b'',b'',b'',b'',b'',b'',b'',b'',b'',b''
1,93704.0,1.0,1.0,-1.0,4.0,4.0,4.0,1.0,1.0,1.0,...,b'',b'',b'',b'',b'',b'',b'',b'',b'',b''
2,93705.0,1.0,1.0,2.0,4.0,2.0,4.0,2.0,2.0,2.0,...,b'',b'',b'',b'',b'',b'',b'',b'',b'',b''
3,93706.0,1.0,1.0,2.0,4.0,2.0,2.0,2.0,2.0,2.0,...,b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0',b'0'
4,93707.0,1.0,1.0,2.0,4.0,4.0,2.0,1.0,1.0,1.0,...,b'0',b'9',b'9',b'0',b'0',b'9',b'0',b'9',b'0',b'9'

In [4]:
# Data that is dirty that doesn't allow us to try the model 
smoking_cigarette_use=smoking_cigarette_use.fillna(-1)
smoking_cigarette_use.head()

,SEQN,SMQ020,SMD030,SMQ040,SMQ050Q,SMQ050U,SMD057,SMQ078,SMD641,SMD650,...,SMQ848,SMQ852Q,SMQ852U,SMQ890,SMQ895,SMQ900,SMQ905,SMQ910,SMQ915,SMAQUEX2
0,93705.0,1.0,16.0,3.0,30.0,4.0,5.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,2.0,-1.000000e+00,2.0,-1.000000e+00,2.0,-1.000000e+00,1.0
1,93706.0,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,2.0,-1.000000e+00,2.0,-1.000000e+00,2.0,-1.000000e+00,1.0
2,93707.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.000000e+00,-1.0,-1.000000e+00,-1.0,-1.000000e+00,2.0
3,93708.0,2.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,2.0,-1.000000e+00,2.0,-1.000000e+00,2.0,-1.000000e+00,1.0
4,93709.0,1.0,15.0,1.0,-1.0,-1.0,-1.0,1.0,30.0,5.0,...,-1.0,-1.0,-1.0,1.0,5.397605e-79,1.0,5.397605e-79,1.0,5.397605e-79,1.0

In [5]:
from functools import reduce
import numpy as np

#merging dataframes
overral_data= reduce(lambda left,right: pd.merge(left,right,on='SEQN'), dataframes).fillna(-1.0)

#experimental code please ignore
#overral_data = overral_data.apply(lambda x: -1 if isinstance(x, '') and (x.isspace() or not x) else x)
#overral_data=overral_data.replace(to_replace="b'E'", value=-5, inplace=True)
#overral_data=overral_data.columns.str.replace(' ',"hi")

In [6]:
#Uncomment
#overral_data.to_csv(r'/home/chuylife10/dentalrecommender/datastorage.csv', index = False)
overral_data.head()

,SEQN,BPQ020,BPQ030,BPD035,BPQ040A,BPQ050A,BPQ080,BPQ060,BPQ070,BPQ090D,...,WHD080U,WHD080L,WHQ225,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ190,WHQ200
0,93705.0,1.0,1.0,50.0,1.0,1.0,2.0,1.0,2.0,2.0,...,-1.0,-1.0,4.0,150.0,130.0,63.0,170.0,62.0,2.0,-1.0
1,93705.0,1.0,1.0,50.0,1.0,1.0,2.0,1.0,2.0,2.0,...,-1.0,-1.0,4.0,150.0,130.0,63.0,170.0,62.0,2.0,-1.0
2,93705.0,1.0,1.0,50.0,1.0,1.0,2.0,1.0,2.0,2.0,...,-1.0,-1.0,4.0,150.0,130.0,63.0,170.0,62.0,2.0,-1.0
3,93705.0,1.0,1.0,50.0,1.0,1.0,2.0,1.0,2.0,2.0,...,-1.0,-1.0,4.0,150.0,130.0,63.0,170.0,62.0,2.0,-1.0
4,93705.0,1.0,1.0,50.0,1.0,1.0,2.0,1.0,2.0,2.0,...,-1.0,-1.0,4.0,150.0,130.0,63.0,170.0,62.0,2.0,-1.0

In [7]:
#loading machine learning libs
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split

In [8]:
X = overral_data.drop(columns=['OHAREC']) #overal dental reccomendation

y = overral_data['OHAREC']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [9]:
#The is something dirty in the data there is still a black spaces or values start with blank spaces
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)

LinearRegression()