In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
def get_0910():
    filelist = os.listdir('/home/chuylife10/dentalrecommender/2009-10/')
    os.chdir('/home/chuylife10/dentalrecommender/2009-10/')
    dataframes = [pd.read_sas(file) for file in filelist]

    overral_data_09 = pd.concat(dataframes)
    return overral_data_09
    

#acculturation_09=pd.read_sas('/home/chuylife10/dentalrecommender/2009-10/ACQ_F.XPT')
overral_data_09 = get_0910()
overral_data_09.head()

,RXDDRGID,RXDDRUG,RXDINGFL,RXDDCI1A,RXDDCI1B,RXDDCI1C,RXDDCI2A,RXDDCI2B,RXDDCI2C,RXDDCI3A,...,BPQ070,BPQ080,BPQ090A,BPQ090B,BPQ090C,BPQ090D,BPQ100A,BPQ100B,BPQ100C,BPQ100D
0,b'a10061',b'BILE SALTS; PANCREATIN; PEPSIN',2.0,87.0,96.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'a10129',b'CALCIUM IODIDE; CODEINE',2.0,122.0,124.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'a10899',b'ESTRADIOL; ESTRIOL; ESTRONE',2.0,97.0,101.0,187.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'a10900',b'ESTRADIOL; ESTRIOL',2.0,97.0,101.0,187.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'a11077',b'HYDROCHLOROTHIAZIDE; LABETALOL',2.0,40.0,55.0,472.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
def get_1112():
    filelist = os.listdir('/home/chuylife10/dentalrecommender/2011-12/')
    os.chdir('/home/chuylife10/dentalrecommender/2011-12/')
    dataframes = [pd.read_sas(file) for file in filelist]

    overral_data_11 = pd.concat(dataframes)
    return overral_data_11
overral_data_11 = get_1112()
overral_data_11.head()

,SEQN,ACD011A,ACD011B,ACD011C,ACD040,ACD110,DPQ010,DPQ020,DPQ030,DPQ040,...,SMQ770,SMQ780,SMQ785,SMQ800,SMQ815,SMQ817,SMQ819,SMQ830,SMQ840,SMAQUEX
0,62161.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,62163.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62164.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,62165.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,62169.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
def get_1314():
    filelist = os.listdir('/home/chuylife10/dentalrecommender/2013-14/')
    os.chdir('/home/chuylife10/dentalrecommender/2013-14/')
    dataframes = [pd.read_sas(file) for file in filelist]
    overral_data_13 = pd.concat(dataframes)
    return overral_data_13
overral_data_13 = get_1314()
overral_data_13.head()

,RXDDRGID,RXDDRUG,RXDINGFL,RXDDCI1A,RXDDCI1B,RXDDCI1C,RXDDCI2A,RXDDCI2B,RXDDCI2C,RXDDCI3A,...,OHQ850,OHQ855,OHQ860,OHQ865,OHQ870,OHQ875,OHQ880,OHQ885,OHQ895,OHQ900
0,b'a10061',b'BILE SALTS; PANCREATIN; PEPSIN',2.0,87.0,96.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'a10129',b'CALCIUM IODIDE; CODEINE',2.0,122.0,124.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'a10899',b'ESTRADIOL; ESTRIOL; ESTRONE',2.0,97.0,101.0,187.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'a10900',b'ESTRADIOL; ESTRIOL',2.0,97.0,101.0,187.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'a11077',b'HYDROCHLOROTHIAZIDE; LABETALOL',2.0,40.0,55.0,472.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
def get_1516():
    filelist = os.listdir('/home/chuylife10/dentalrecommender/2015-16/')
    os.chdir('/home/chuylife10/dentalrecommender/2015-16/')
    dataframes = [pd.read_sas(file) for file in filelist]
    overral_data_15 = pd.concat(dataframes)
    return overral_data_15
overral_data_15 = get_1516()
overral_data_15.head()

,RXDDRGID,RXDDRUG,RXDINGFL,RXDDCI1A,RXDDCI1B,RXDDCI1C,RXDDCI2A,RXDDCI2B,RXDDCI2C,RXDDCI3A,...,SMQ857,SMQ690J,SMQ861,SMQ863,SMQ690F,SMQ830,SMQ840,SMDANY,HOD050,HOQ065
0,b'a10061',b'BILE SALTS; PANCREATIN; PEPSIN',2.0,87.0,96.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,b'a10129',b'CALCIUM IODIDE; CODEINE',2.0,122.0,124.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,b'a10899',b'ESTRADIOL; ESTRIOL; ESTRONE',2.0,97.0,101.0,187.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b'a10900',b'ESTRADIOL; ESTRIOL',2.0,97.0,101.0,187.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,b'a11077',b'HYDROCHLOROTHIAZIDE; LABETALOL',2.0,40.0,55.0,472.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Descision Tree Classifier
from sklearn import tree

clfDT = tree.DecisionTreeClassifier(max_depth=8,max_leaf_nodes=300,min_samples_split=100,min_samples_leaf=20)
clfDT.fit(X_train, y_train)
clfDT_ypred0 = clfDT.predict(X_test)

NameError: name 'X_train' is not defined